{% extends 'base.html' %}

{% block starts %}
<div class="container mx-auto m-5 col-5 card">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" style="position: absolute;">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <form action="" method="post" class="form-group p-5">
        {% csrf_token %}
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control mb-3" required placeholder="Enter new password">
        <label for="confirmpassword" class="form-label">Confirm Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" class="form-control mb-3" required placeholder="Reenter the password">
        <input type="submit" value="Proceed" class="form-control mt-3 btn btn-primary">
    </form>
</div>
{% endblock %}