{% extends 'base.html' %}
{% block starts %}

<div class="container m-5 mx-auto col-4">
    <form action="" method="post" class="form-control p-5">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label mb-3">Username</label>
            <input type="text" name="username" id="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <input type="submit" value="Proceed" class="form-control mt-3 btn btn-primary">
        </div>
    </form>
</div>

{% endblock %}