{% include 'base.html' %}

{% block starts %}
<div class="container card-body">
    <div class="container col-8 mx-auto">
        <div class="form-group mt-5">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            <form action="" class="form-control mb-3 p-5" method="post">
                {% csrf_token %}
                <label for="task" class="form-label mb-sm-3">Enter the task</label>
                <input type="text" placeholder="Enter task here" name="task" id="task" class="form-control">
                <button type="submit" class="btn btn-primary mt-3">Add Task</button></a>
            </form>
        </div>

        {% if tasks %}

        <div class="container col-8 mx-auto tasks p-5" style="transition: all 2s ease-in;">
            <table cellpadding="15px" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{task}}</td>
                        <td>
                            {% if task.completed == False %}
                            <a href="{% url 'tasks:update-task' id=task.id %}" class="btn btn-success m-3">Done</a>
                            {% else %}
                            <a href="{% url 'tasks:update-task' id=task.id %}" class="btn btn-primary m-3">Undone</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'tasks:delete-task' id=task.id %}" class="btn btn-danger m-3">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}